@font-face {
    font-family: 'M PLUS 1p';
    src: url('../fonts/Mplus1p-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'M PLUS 1p';
    src: url('../fonts/Mplus1p-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'M PLUS 1p';
    src: url('../fonts/Mplus1p-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'M PLUS 1p';
    src: url('../fonts/Mplus1p-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'M PLUS 1p';
    src: url('../fonts/Mplus1p-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noticia Text';
    src: url('../fonts/NoticiaText-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Noticia Text';
    src: url('../fonts/NoticiaText-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}