.header {
    @include mix.position($pos: fixed, $t: 0, $r: 0, $l: 0, $w: 100%, $z: 100);

    @include mix.media-query(767px) {
        &__logo {
            @include mix.position($z: 1)
        }
    }
    
    &__container {
        @include mix.flex($align: center, $justify: space-between, $g: f.toRem(16) clamp(f.toRem(48), 7vw, f.toRem(134)));
        position: relative;
        padding: f.toRem(68) f.toRem(15) f.toRem(32);

        @include mix.media-query(1024px) {
            padding: f.toRem(32) f.toRem(15);
        }
        
        @include mix.media-query(767px) {
            padding: f.toRem(21) f.toRem(15);
        }
    }

    &__toggler {
        @include mix.position($w: 27px, $h: 16px);
        border: none;
        padding: 0;
        background: none;
        cursor: pointer;

        span,
        &::before,
        &::after {
            @include mix.position($pos: absolute, $r: 0, $w: 27px, $h: 2px);
            background: var.$primary-white-color;
            transition: 0.3s;
        }

        span {
            top: 0;
            bottom: 0;
            margin: auto;
        }

        &::before,
        &::after {
            content: '';
        }

        &::before {
            top: 0;
        }

        &::after {
            bottom: 0;
            width: 18px;
        }

        &.open {
            &::after {
                opacity: 0;
            }

            &::before {
                width: 20px;
                top: 7px;
                transform: rotate(45deg);
            }

            span {
                width: 20px;
                bottom: 0;
                transform: rotate(-45deg);
            }
        }
    }

    &__info {
        display: none;
        @include mix.position($pos: absolute, $r: 15px, $b: 0);
        transform: translateY(42px);
        padding: 10px;
        background: var.$secondary-dark-color-bg;
        font-family: var.$primary-font;

        &.block {
            display: block;
            
            @include mix.media-query(767px) {
                display: none;
            }
        }

    }
}

.menu {
    @include mix.flex($align: center, $justify: flex-end, $g: f.toRem(16) clamp(f.toRem(32), 5vw, f.toRem(98)));
    flex: 1;
    font: 800 #{f.toRem(14)} / 2.08 var.$primary-font;
    letter-spacing: 0.14em;

    @include mix.media-query(767px) {
        @include mix.flex($fxd: column, $align: center, $justify: flex-start);
        @include mix.position($pos: fixed, $t: 0, $r: -100%, $w: 100%, $h: 100vh);
        padding-top: 100px;
        overflow: hidden;
        background: var.$secondary-dark-color-bg;
        transition: 0.6s;

        &.visible {
            right: 0;
        }
    }

    &__list {
        @include mix.flex($align: center, $g: f.toRem(16) clamp(f.toRem(32), 4vw, f.toRem(54)), $fxw: wrap);

        @include mix.media-query(767px) {
            flex-direction: column;
        }
    }

    &__item {
        opacity: 0.8;
        transition: 0.3s;
        position: relative;
        
        &::before {
            @include mix.position($pos: absolute, $b: 0, $l: 7px, $w: 0, $h: 1px);
            content: '';
            background: var.$primary-white-color;
            transition: 0.3s;
        }
        
        &:is(:hover, .active) {
            opacity: 1;

            &::before {
                width: calc(100% - 14px);
            }
        }
    }

    &__number {
        @include mix.flex($align: center, $g: 1.3vw);
        position: relative;
        transition: 0.3s;

        @include mix.media-query(767px) {
            gap: 1rem;
        }

        &::before {
            content: '';
            @include mix.position($pos: absolute, $b: 0, $l: calc(1.3vw + 18px + 7px), $w: 0, $h: 1px);
            background: var.$primary-white-color;
            transition: 0.3s;
        }

        &:hover {
            &::before {
                width: calc(100% - 1.3vw - 18px - 14px);
            }
        }

        svg {
            width: 18px;
            height: 29px;
            fill: var.$primary-white-color;
        }
    }
}
